[Unit]
Description=Advanced key-value store
After=network.target
Documentation=https://docs.keydb.dev, man:keydb-sentinel(1)

[Service]
Type=forking
ExecStartPre=+/bin/mkdir -p /var/lib/keydb /var/log/keydb /run/keydb
ExecStartPre=+/usr/bin/find -L /var/lib/keydb /var/log/keydb /run/keydb -type d -exec chmod 775 {} \;
ExecStartPre=+/usr/bin/find -L /var/lib/keydb /var/log/keydb /run/keydb -type f -exec chmod 664 {} \;
ExecStartPre=+/bin/chown keydb.keydb /etc/keydb /var/lib/keydb /var/log/keydb /run/keydb -Rfv
# ExecStart=/usr/bin/keydb-sentinel /etc/keydb/sentinel.conf --supervised systemd --daemonize no
ExecStart=/usr/bin/keydb-sentinel /etc/keydb/sentinel.conf
ExecStartPost=/bin/sh -c "echo $MAINPID > /run/keydb/keydb-sentinel.pid"
ExecStop=/bin/kill -s TERM $MAINPID
PIDFile=/run/keydb/keydb-sentinel.pid
TimeoutStopSec=0
Restart=always
User=keydb
Group=keydb
RuntimeDirectory=sentinel
RuntimeDirectoryMode=2755

UMask=007
PrivateTmp=yes
LimitNOFILE=65535
PrivateDevices=yes
ProtectHome=yes
ReadOnlyDirectories=/
ReadWriteDirectories=-/var/lib/keydb
ReadWriteDirectories=-/var/log/keydb
ReadWriteDirectories=-/run/sentinel

NoNewPrivileges=true
CapabilityBoundingSet=CAP_SETGID CAP_SETUID CAP_SYS_RESOURCE
RestrictAddressFamilies=AF_INET AF_INET6 AF_UNIX

# keydb-sentinel can write to its own config file when in cluster mode so we
# permit writing there by default. If you are not using this feature, it is
# recommended that you replace the following lines with "ProtectSystem=full".
ProtectSystem=true
ReadWriteDirectories=-/etc/keydb

[Install]
WantedBy=multi-user.target
Alias=sentinel.service
